@import "tailwindcss";
@font-face {
  font-family: "HoneyNotes";
  src: url("./assets/HoneyNotesRegular-1GR8e.ttf");
}
html,
body {
  font-family: "Handlee", cursive;
  background-repeat: no-repeat;
   background: linear-gradient(to bottom right, #fee2e2, #cffafe);
}
.font-honey {
  font-family: "HoneyNotes", cursive;
}

.icon-container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.icon {
  font-size: 40px; /* Make icon big */
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.493);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 6px 10px;
  position: absolute;
  z-index: 1;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 0.1;
}
