@import "tailwindcss";
@font-face {
  font-family: "HoneyNotes";
  src: url("./assets/HoneyNotesRegular-1GR8e.ttf");
}
html,
body {
  font-family: "Handlee", cursive;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
   background: linear-gradient(to bottom right, #fee2e2, #cffafe);
}
.font-honey {
  font-family: "HoneyNotes", cursive;
}
